.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-gap: 48px 40px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .place {
      grid-template-columns: 340px 352px;
      grid-gap: 48px 28px;
  }
}

@media screen and (max-width: 768px) {
  .place {
      rid-template-columns: 320px;
      grid-gap: 32px;
  }
}

@media screen and (max-width: 320px) {
  .place {
      max-width: 320px;
      grid-template-columns: 320px;
  }
}