.place__link {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  transition: 0.2s ease-in;
  text-decoration: none;
}

.place__link:hover {
  opacity: 0.8;
  text-decoration: underline;
}